<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap_min.css'%}">
    <title>
        
        {% block title %}
            
        {% endblock title %}
            
    </title>
</head>
<body class="d-flex " style="gap: 10%;" >
    {% include 'partials/nav_dashboard.html' %}
      <div class="" >
        
        {% block container %}
            
        {% endblock container %}
            
      </div>

<script src="{% static 'js/bootstrap.bundle.js'%}" ></script>

</body>
</html>